<html th:replace="~{fragments/base :: layout (~{:: main}, ~{:: scripts})}">
    <body>
        <scripts>
        </scripts>
        <main>
            <div class="row">
                <h3>Players</h3>
                <a href="/app/players/create" th:text="#{action.new}" class="btn btn-primary" style="margin-bottom: 5px" />

                <table class="table table-striped">
                    <thead class="table-dark thead-danger">
                        <tr>
                            <th scope="col" class="col-sm-7" th:text="Name" />
                            <th scope="col" class="col-sm-3" th:text="Score" />
                            <th scope="col" class="col-sm-2" th:text="Action" />
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="player : ${players}">
                            <td th:text="${player.name}" />
                            <td th:text="${player.score}" />
                            <td>
                                <a th:href="@{'/app/players/edit/' + ${player.id}}" class="btn btn-primary">
                                    <i class="fas fa-edit"></i></a>
                                &nbsp;<a th:href="@{'/app/players/delete/' + ${player.id}}" class="btn btn-danger">
                                <i class="fas fa-trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>