<html th:replace="~{fragments/base :: layout (~{:: main}, ~{:: scripts})}">
    <body>
        <scripts>
        </scripts>
        <main>
            <div class="row">
                <h3>Movies</h3>
                <a href="/app/movies/create" th:text="#{action.new}" class="btn btn-primary" style="margin-bottom: 5px" />

                <table class="table table-striped">
                    <thead class="table-dark thead-danger">
                        <tr>
                            <th scope="col" class="col-sm-5" th:text="#{movie.title}" />
                            <th scope="col" class="col-sm-4" th:text="#{movie.genre}" />
                            <th scope="col" class="col-sm-1" th:text="#{movie.ratings}" />
                            <th scope="col" class="col-sm-2" th:text="Action" />

                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="movie : ${movies}">
                            <td th:text="${movie.title}" />
                            <td th:text="${movie.genre}" />
                            <td th:text="${movie.ratings}" />
                            <td>
                                <a th:href="@{'/app/movies/edit/' + ${movie.id}}" class="btn btn-primary">
                                <i class="fas fa-edit"></i></a>
                                &nbsp;<a th:href="@{'/app/movies/delete/' + ${movie.id}}" class="btn btn-danger">
                                <i class="fas fa-trash"></i></a>
                            </td>
                    </tbody>
                </table>
            </div>
        </main>
    </body>
</html>

