<!DOCTYPE html>
<html lang="pt-br" th:fragment="layout (conteudo, scripts)">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
    <style>
      .table .thead-danger th {
        background-color: #000 !important;
        color: #FFF; !important;
      }
    </style>
    <script>
        function select(image) {
        const elements = document.getElementsByClassName("movie-image");
        for (const element of elements) {
        element.classList.remove("movie-selected");
        }

        image.classList.add("movie-selected");

        document.getElementById("movie-selected").value = image.id;
        }
    </script>
    <!-- placeholder for additional scripts -->
    <th:block th:include="${scripts}" />

    <title>Herança de Templates</title>
  </head>
  <body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Movie Battle</a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a th:href="@{/app/}">Home</a></li>
          <li><a th:href="@{/app/players}">Players</a></li>
          <li><a th:href="@{/app/movies}">Movies</a></li>
          <li><a th:href="@{/app/battles/create}">Battle</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        </ul>
      </div>
    </div>
  </nav>

    <div class="container">
      <div class="jumbotron">
        <main th:include="${conteudo}">
          Contéudo Principal
        </main>
      </div>
    </div>
    <footer class="container-fluid text-center">
      <p>Movie Battle Copyright</p>
    </footer>
  </body>
</html>