<html th:replace="~{fragments/base :: layout (~{:: main}, ~{:: scripts})}">
    <body>
        <scripts>
        </scripts>
        <main>
            <div th:align="center">
                <img th:src="@{/battles/congrats.jpeg}" width="400" height=""><br/>


                <!--<a th:href="@{/app/battles/create}" "/>-->
                <!--#{action.you-are-lucky}-->

                <a th:href="@{/app/battles}"
                   th:text="#{action.you-are-lucky}"
                   onclick="event.preventDefault();
                   document.getElementById('form-param').submit();" />

                <form id="form-param" th:action="@{/app/battles}"
                      th:object="${player}" method="post">
                    <input type="hidden" th:field="*{id}" th:value="${player.id}" />
                </form>

            </div>
        </main>
    </body>
</html>