<html th:replace="~{fragments/base :: layout (~{:: main}, ~{:: scripts})}">
    <body>
        <scripts>
        </scripts>
        <main>
            <form action="#" th:action="@{/app/battles}" th:object="${player}" method="post" >
                <select th:field="*{id}">
                    <option th:each="p: ${players}" th:value="${p.id}" th:text="${p.name}" />
                </select>
                <input type="submit" value="Start" />
            </form>
        </main>
    </body>
</html>